<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-next-episode-heading">Create or edit a Next Episode</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!nextEpisode.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="nextEpisode.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="nextEpisode.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_image">Image</label>
                    <div>
                        <img [src]="'data:' + nextEpisode.imageContentType + ';base64,' + nextEpisode.image" style="max-height: 100px;" *ngIf="nextEpisode.image" alt="nextEpisode image"/>
                        <div *ngIf="nextEpisode.image" class="form-text text-danger clearfix">
                            <span class="pull-left">{{nextEpisode.imageContentType}}, {{byteSize(nextEpisode.image)}}</span>
                            <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_image" (change)="setFileData($event, nextEpisode, 'image', true)" accept="image/*"/>
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image"
                        [(ngModel)]="nextEpisode.image" />
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                        [(ngModel)]="nextEpisode.imageContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_episodeNumber">Episode Number</label>
                    <input type="number" class="form-control" name="episodeNumber" id="field_episodeNumber"
                        [(ngModel)]="nextEpisode.episodeNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_episodeSeason">Episode Season</label>
                    <input type="number" class="form-control" name="episodeSeason" id="field_episodeSeason"
                        [(ngModel)]="nextEpisode.episodeSeason" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_episodeDate">Episode Date</label>
                    <div class="input-group">
                        <input id="field_episodeDate" type="text" class="form-control" name="episodeDate" ngbDatepicker  #episodeDateDp="ngbDatepicker" [(ngModel)]="nextEpisode.episodeDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="episodeDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
